    html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    }
  
    body {
      display: flex;
      flex-direction: column;
      margin: 0;
      font-family: 'Segoe UI', sans-serif;
      background: #fff;
      min-height: 100vh;
    }

    a{
        text-decoration: none;
      }

    footer {
      background-color: #222;
      color: white;
      text-align: center;
      padding: 15px 0;
    }
  
    footer a {
      color: white;
      margin: 0 15px;
      text-decoration: none;
    }
  
    footer a:hover {
      text-decoration: none;
    }

    header {
        background-color: #222;
        color: white;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    .header {
      background-color: #1c1c1c;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      position: fixed;
      top: 0;
      width: 98%;
      z-index: 10;
    }
    
    .logo {
      background: #02b3c9;
      border-radius: 20px;
      padding: 10px 15px;
      font-weight: bold;
      color: white;
      font-family: monospace;
      font-size: 20px;
    }
    
    .user-info {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    
    .user-info img {
      width: 30px;
      height: 30px;
    }
    
    .menu-toggle {
      background: none;
      border: none;
      font-size: 24px;
      color: white;
      cursor: pointer;
    }
    
    .side-menu {
      position: fixed;
      right: -300px;
      top: 0;
      width: 250px;
      height: 100%;
      background: #d9d9d9;
      transition: 0.3s;
      z-index: 15;
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
    
    .side-menu.open {
      right: 0;
    }
    
    .side-menu .close-btn {
      align-self: flex-end;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      margin-bottom: 20px;
    }
    
    .side-menu a {
      padding: 10px;
      text-decoration: none;
      color: black;
      font-size: 18px;
      border-bottom: 1px solid #ccc;
    }
    
    .side-menu a.active {
      color: magenta;
      font-weight: bold;
      background: white;
    }
    
    .main-content {
      flex: 1;
      background-color: #f9f9f9;
      padding: 100px 20px 40px 20px;
      max-width: 800px;
      margin-top: 0px;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
    }
    
    .container-sobre {
        background-color: white;
        border-left: 5px solid #222;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 25px;
        box-shadow: 0 0 10px rgba(0,0,0,0.05);
      }
  
      .container-sobre h2 {
        margin-top: 0;
        color: #222;
        display: flex;
        align-items: center;
        gap: 8px;
      }
  
      .container-sobre h2 img {
        width: 24px;
        height: 24px;
      }

      .modal-sair {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
      }
      
      .modal-sair.hidden {
        display: none;
      }
      
      .modal-content-sair {
        background-color: #f2f2f2;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        width: 300px;
        text-align: center;
      }
      
      .botoes-modal-sair {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
      }
      
      .fechar-sair {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 18px;
        font-weight: bold;
        color: purple;
        cursor: pointer;
      }
      
      .fechar-sair:hover {
        color: #aa0077;
      }
      
      .btn-sair{
        padding: 5px 12px;
        margin: 0 5px;
        background-color: purple;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    
      .btn-sair:hover{
        padding: 5px 12px;
        margin: 0 5px;
        background-color: #aa0077;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }